@model TIMAQRCode.Models.QRCodeModel

@{
    ViewData["Title"] = "www.compilemode.com";
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateQRCode">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BankId" class="control-label"></label>
                <input asp-for="BankId" class="form-control" />
                <span asp-validation-for="BankId" class="text-danger"></span>
                <label asp-for="NumberAccount" class="control-label"></label>
                <input asp-for="NumberAccount" class="form-control" />
                <span asp-validation-for="NumberAccount" class="text-danger"></span>
                <label asp-for="TransactionAmount" class="control-label"></label>
                <input asp-for="TransactionAmount" class="form-control" />
                <span asp-validation-for="TransactionAmount" class="text-danger"></span>
                <label asp-for="Contentck" class="control-label"></label>
                <input asp-for="Contentck" class="form-control" />
                <span asp-validation-for="Contentck" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Generate QR Code" class="btn btn-primary text-center" />
            </div>
            <div class="form-group">

                <img src="@ViewBag.QrCodeUri" class="img-thumbnail" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}